<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension-point id="metanode_porttype" name="Port Type for Metanode Wizard" schema="schema/metanode_portype.exsd"/>
    <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands available for the workflow editor"
            name="KNIME Workflow Editor commands"
            id="knime.command.category"/>
      <command
            categoryId="knime.command.category"
            description="Opens the settings dialog for the workflow editor"
            id="knime.commands.editor.workflowEditorSettings"
            name="Workflow Editor Settings..."/>
      <command
            categoryId="knime.command.category"
            description="Toggles the snap to grid behavior of the workflow editor"
            id="knime.commands.editor.toggleGrid"
            name="Toggle Snap to Grid"/>
      <command
            categoryId="org.eclipse.gef.category.view"
            description="Resets the zoom level to 100%"
            id="knime.actions.zoom_reset"
            name="Reset Zoom"/>
      <command
            categoryId="org.eclipse.gef.category.view"
            description="Zooms in using the ALTernate increment amount"
            id="knime.actions.zoom_in_alternate_increment"
            name="Zoom In with Alternate Increment"/>
      <command
            categoryId="org.eclipse.gef.category.view"
            description="Zooms out using the ALTernate decrement amount"
            id="knime.actions.zoom_out_alternate_increment"
            name="Zoom Out with Alternate Decrement"/>
      <command
            categoryId="knime.command.category"
            description="Opens the settings dialog for the component layout."
            id="knime.commands.editor.subnodeLayout"
            name="Component Usage And Layout"/>
      <command
            categoryId="knime.command.category"
            description="Moves the selected nodes up"
            id="knime.commands.editor.moveNodesUp"
            name="Move Nodes Up"/>
      <command
            categoryId="knime.command.category"
            description="Moves the selected nodes down"
            id="knime.commands.editor.moveNodesDown"
            name="Move Nodes Down"/>
      <command
            categoryId="knime.command.category"
            description="Moves the selected nodes to the left"
            id="knime.commands.editor.moveNodesLeft"
            name="Move Nodes Left"/>
      <command
            categoryId="knime.command.category"
            description="Moves the selected nodes to the right"
            id="knime.commands.editor.moveNodesRight"
            name="Move Nodes Right"/>
      <command
            categoryId="knime.command.category"
            description="Brings the selected annotation to front"
            id="knime.commands.editor.bringToFront"
            name="Bring to Front"/>
      <command
            categoryId="knime.command.category"
            description="Brings the selected annotation forward"
            id="knime.commands.editor.bringForward"
            name="Bring Forward"/>
      <command
            categoryId="knime.command.category"
            description="Sends the selected annotation backward"
            id="knime.commands.editor.sendBackward"
            name="Send Backward"/>
      <command
            categoryId="knime.command.category"
            description="Sends the selected annotation to the back"
            id="knime.commands.editor.sendToBack"
            name="Send to Back"/>
      <command
            categoryId="knime.command.category"
            description="Opens the configuration dialog on the selected node"
            id="knime.commands.openDialog"
            name="Configure..."/>
      <command
            categoryId="knime.command.category"
            description="Execute workflow up to here"
            id="knime.commands.execute"
            name="Execute"/>
      <command
            categoryId="knime.command.category"
            description="Execute all"
            id="knime.commands.executeall"
            name="Execute All"/>
      <command
            categoryId="knime.command.category"
            description="Cancel"
            id="knime.commands.cancel"
            name="Cancel"/>
      <command
            categoryId="knime.command.category"
            description="Cancel all"
            id="knime.commands.cancelall"
            name="Cancel All"/>  
      <command
            categoryId="knime.command.category"
            description="Reset node"
            id="knime.commands.reset"
            name="Reset"/>
      <command
            categoryId="knime.command.category"
            description="Hide node names"
            id="knime.commands.hideNodeNames"
            name="Hide Node Names"/>
      <command
            categoryId="knime.command.category"
            description="Append IDs to the node names"
            id="knime.commands.appendNodeIds"
            name="Show Node IDs"/>
      <command
            categoryId="knime.command.category"
            description="Open first view for selected nodes"
            id="knime.commands.openView"
            name="Open First View"/>
      <command
            categoryId="knime.command.category"
            description="Execute all selected nodes and open first view"
            id="knime.commands.executeAndOpenView"
            name="Execute and Open Views"/>
      <command
            categoryId="knime.command.category"
            description="Edit custom description for the selected node"
            id="knime.commands.setNameAndDescription"
            name="Edit Node Name and Description..."/>
      <command
            categoryId="knime.command.category"
            description="Open first out-port view for selected nodes"
            id="knime.commands.openFirstOutPortView"
            name="Open First Out-Port View"/>
      <command
            categoryId="knime.command.category"
            description="Open wizard to add metanode"
            id="knime.commands.addMetaNode"
            name="Open Metanode Wizard..."/>
      <command
            categoryId="knime.command.category"
            description="Checks and updates metanode links"
            id="knime.commands.updateMetaNodeLink"
            name="Update Metanode Links"/>
      <command
            categoryId="knime.command.category"
            description="Do one loop step"
            id="knime.commands.steploop"
            name="Step Loop Execution"/>
      <command
            categoryId="knime.command.category"
            description="Pause loop execution"
            id="knime.commands.pauseexecution"
            name="Pause Execution"/>  
      <command
            categoryId="knime.command.category"
            description="Resume loop execution"
            id="knime.commands.resumeloop"
            name="Resume Loop Execution"/>       
      <command
            categoryId="knime.command.category"
            description="Select all of the nodes contained within the surrounding loop"
            id="knime.action.selectLoop"
            name="Select Loop"/>
      <command
            categoryId="knime.command.category"
            description="Disconnect selected nodes"
            id="knime.commands.unlinknodes"
            name="Disconnect selected nodes"/>
      <command
            categoryId="knime.command.category"
            description="Connect selected nodes"
            id="knime.commands.linknodes"
            name="Connect selected nodes"/>
    </extension>
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.knime.workbench.editor2.WorkflowEditor"
            contributorClass="org.knime.workbench.editor2.WorkflowEditorActionBarContributor"
            default="true"
            extensions="knime"
            filenames="knime"
            icon="icons/knime.png"
            id="org.knime.workbench.editor.WorkflowEditor"
            name="KNIME Workflow Editor"/>
    </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="knime.commands.updateMetaNodeLink"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+U"/>
      <key
            commandId="knime.commands.setNameAndDescription"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+F2"/>
      <key
            commandId="knime.commands.openDialog"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6"/>
      <key
            commandId="knime.commands.editor.gridSettings"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+ALT+X"/>
      <key
            commandId="knime.commands.editor.toggleGrid"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+X"/>
      <key
            commandId="knime.actions.zoom_reset"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0"/>
      <key
            commandId="knime.actions.zoom_out_alternate_increment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+-"/>
            <!-- copied from org.eclipse.gef/plugin.xml without locale=de -->
      <key  
            commandId="org.eclipse.gef.zoom_in"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1++"/>
            <!-- the preferred mapping, on Linux and Win10 -->
      <key
            commandId="knime.actions.zoom_in_alternate_increment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT++"/>
            <!-- for users who treat the =/+ key like + without hitting shift, on Linux and Win10 -->
      <key
            commandId="knime.actions.zoom_in_alternate_increment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+="/>
            <!-- how Eclipse on macOS treats the COMMAND-ALT-= key press -->
      <key
            commandId="knime.actions.zoom_in_alternate_increment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+≠"/>
            <!-- how Eclipse on macOS treats the COMMAND-ALT-+ key press -->
      <key
            commandId="knime.actions.zoom_in_alternate_increment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+±"/>
      <key
            commandId="knime.commands.openView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F10"/>
      <key
            commandId="knime.commands.executeAndOpenView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F10"/>
      <key
            commandId="knime.commands.reset"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8"/>
      <key
            commandId="knime.commands.hideNodeNames"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+Q"/>    
      <key
            commandId="knime.commands.appendNodeIds"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+W"/>    
      <key
            commandId="knime.commands.execute"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7"/>
      <key
            commandId="knime.commands.executeall"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F7"/>
      <key
            commandId="knime.commands.cancel"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9"/>
      <key
            commandId="knime.commands.cancelall"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F9"/>
      <key
            commandId="knime.commands.openFirstOutPortView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F6"/>
      <key
            commandId="knime.commands.steploop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+F6"/>
      <key
            commandId="knime.commands.pauseexecution"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+F7"/>
      <key
            commandId="knime.commands.resumeloop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+F8"/>
      <key
            commandId="knime.action.selectLoop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+F10"/>
      <key
            commandId="knime.commands.unlinknodes"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+L"/>
      <key
            commandId="knime.commands.linknodes"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+L"/>
      <key
            commandId="knime.commands.editor.moveNodesUp"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+ARROW_UP"/>
      <key
            commandId="knime.commands.editor.moveNodesDown"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+ARROW_DOWN"/>
      <key
            commandId="knime.commands.editor.moveNodesLeft"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+ARROW_LEFT"/>
      <key
            commandId="knime.commands.editor.moveNodesRight"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+ARROW_RIGHT"/>
      <key
            commandId="knime.commands.editor.bringToFront"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+PAGE_UP"/>
      <key
            commandId="knime.commands.editor.bringForward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+PAGE_UP"/>
      <key
            commandId="knime.commands.editor.sendBackward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+PAGE_DOWN"/>
      <key
            commandId="knime.commands.editor.sendToBack"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+PAGE_DOWN"/>
    </extension>
    <extension
            point="org.eclipse.ui.views">
         <!-- even though the id below (helpview) no longer matches the package it was preserved as it is
         		referenced in potentially stored settings of earlier KNIME versions -->
         <view
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.descriptionview.DescriptionView"
            icon="icons/node_description.png"
            id="org.knime.workbench.helpview"
            name="Description"/>
         <view
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.searchhubview.SearchHubView"
            icon="icons/knime.png"
            id="org.knime.workbench.searchhubview"
            name="KNIME Hub Search"/>
         <view
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.nodemonitorview.NodeMonitorView"
            icon="icons/node_monitor.png"
            id="org.knime.workbench.nodemonitorview.nodemonitorview"
            name="Node Monitor"/>
    </extension>
    <extension
           point="org.eclipse.ui.contexts">
        <context
              description="KNIME editor context, for key bindings for the knime perspective only"
              id="org.knime.workbench.editor.context"
              name="In KNIME perspective"
              parentId="org.eclipse.ui.contexts.window"/>
    </extension>
    <extension
            point="org.knime.core.WizardNodeView">
         <wizardNodeView
            description="This browser uses the native system browser that SWT can use. In a typical environment this should be Internet Explorer on Windows and WebKit on Linux and Mac."
            name="Internal SWT Browser"
            viewClass="org.knime.workbench.editor2.WizardNodeView"/>
     </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="toolbar:org.eclipse.ui.main.toolbar">
          <toolbar
                id="org.knime.workbench.editor.components"
                label="KNIME Components Toolbar">
          </toolbar>
          <toolbar
                id="org.knime.workbench.editor.nodes"
                label="KNIME Nodes Toolbar">
             <command
                   commandId="knime.commands.openDialog"
                   disabledIcon="icons/openDialog_disabled.gif"
                   icon="icons/openDialog.gif"
                   label="Configure"
                   mode="FORCE_TEXT"
                   style="push">
                <visibleWhen
                      checkEnabled="true">
                   <with
                         variable="activePartId">
                      <equals
                            value="org.knime.workbench.editor.WorkflowEditor">
                      </equals>
                   </with>
                </visibleWhen>
             </command>
             <command
                   commandId="knime.commands.execute"
                   disabledIcon="icons/execute_disabled.PNG"
                   icon="icons/execute.PNG"
                   label="Execute"
                   mode="FORCE_TEXT"
                   style="push">
                <visibleWhen
                      checkEnabled="true">
                   <with
                         variable="activePartId">
                      <equals
                            value="org.knime.workbench.editor.WorkflowEditor">
                      </equals>
                   </with>
                </visibleWhen>
             </command>
          </toolbar>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="menu:org.eclipse.ui.main.menu">
          <menu
                id="node"
                label="Node">
             <command
                   commandId="knime.commands.execute"
                   disabledIcon="icons/execute_disabled.PNG"
                   icon="icons/execute.PNG"
                   label="Execute"
                   style="push">
             </command>
          </menu>
          <menu
                label="Component">
             <command
                   commandId="knime.commands.editor.subnodeLayout"
                   disabledIcon="icons/layout_16_bw.png"
                   icon="icons/layout_16.png"
                   label="View Layout"
                   style="push">
             </command>
          </menu>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.knime.workbench.editor2.actions.ExecuteAction"
             commandId="knime.commands.execute">
       </handler>
    </extension>
</plugin>
