<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.knime.workbench.ui.layout.toolbar"
               label="Auto Layout Toolbar">
            <command
                  commandId="org.knime.workbench.ui.layout.auto"
                  icon="icons/layout.png"
                  label="Auto Layout"
                  style="push"
                  tooltip="Auto Layout">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activePartId">
                     <equals
                           value="org.knime.workbench.editor.WorkflowEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.knime.workbench.ui.layout.horizontal"
                  disabledIcon="icons/halign_disabled.png"
                  icon="icons/halign.png"
                  label="Align Horizontally"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activePartId">
                     <equals
                           value="org.knime.workbench.editor.WorkflowEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.knime.workbench.ui.layout.vertical"
                  disabledIcon="icons/valign_disabled.png"
                  icon="icons/valign.png"
                  label="Align Vertically"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activePartId">
                     <equals
                           value="org.knime.workbench.editor.WorkflowEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
